@model FitCheckWebApp.ViewModels.MembershipPassViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS - FIXED -->
    <link rel="stylesheet" href="~/css/UserHome.css" asp-append-version="true" />
    <!-- Favicon -->
    <link rel="icon" href="~/images_fitcheck/fitcheckicon.png" />
    <title>Home | FitCheck Gym</title>
</head>
<body>
    <header>

        <div class="brand-container">
            <img asp-append-version="true" src="~/images_fitcheck/fitcheckicon.png" alt="logo" class="logo" />
            <h1 class="brand">FITCHECK</h1>
        </div>

        <nav class="navbar">
            <a asp-controller="Account" asp-action="UserHome">Home</a>
            <a asp-controller="Transaction" asp-action="UserMembership">Membership</a>
            <a asp-controller="Account" asp-action="ClassesUser">Classes</a>
            <a href="#">Products</a>
            <a href="#">Account</a>
            <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
            
        </nav>
    </header>

    <main>
        <section class="welcome">
            <h2>WELCOME @Model.FullName</h2>
        </section>

        <div class="content-container">
            <section class="membership-overview">
                <h3>MEMBERSHIP OVERVIEW</h3>
                <div class="overview-box">
                    <p><strong>Status:</strong> <span class="active">@Model.Status</span></p>
                    <p><strong>Last Payment Date:</strong> @Model.TransactionDate.ToString("MMMM d, yyyy")</p>
                    <p><strong>Payment Status: </strong> <span class="paid">Paid</span></p>
                    <p><strong>Membership Type:</strong>  @Model.MembershipPlan</p>
                    <p><strong>Next Payment Due:</strong> @Model.EndDate.ToString("MMMM d, yyyy")</p>
                </div>
            </section>

            <section class="membership-pass">
                <div class="pass-card">
                    <div class="pass-header">
                        <img src="~/images_fitcheck/fitcheckicon.png" alt="FitCheck Logo">
                        <h3>MEMBERSHIP PASS</h3>
                    </div>

                    <div class="pass-body">
                        <div class="photo"></div>
                        <div class="pass-details">
                            <p>
                                <span class="label">Name :</span>
                                <span class="value">@Model.FullName</span>
                            </p>
                            <p>
                                <span class="label">Member ID :</span>
                                <span class="value">@Model.MemberID</span>
                            </p>
                            <p>
                                <span class="label">Plan Type :</span>
                                <span class="value">@Model.MembershipPlan</span>
                            </p>
                            <p>
                                <span class="label">Valid until :</span>
                                <span class="value">@Model.EndDate.ToString("MMMM yyyy")</span>
                            </p>
                        </div>
                    </div>

                    <div class="pass-footer"></div>
                </div>
            </section>
        </div>
    </main>


    <div class="hr-container">
        <hr>
    </div>

    <footer>
        <div class="footer-container">
            <div class="left-side-footer">
                <div class="description-footer">
                    <img class="fitcheck-logo-footer" src="~/images_fitcheck/fitcheckicon.png">
                    <p>Transform your body and mind at FitCheck Gym. With state-of-the-art equipment, expert trainers, and a supportive community, we're here to help you achieve your fitness goals.</p>
                </div>
                <div class="follow-socials-container">
                    <h4 class="follow-us-footer">FOLLOW US</h4>
                    <div class="social-media-container">
                        <a target="_blank" href="https://www.facebook.com/"><img src="~/images_fitcheck/icon_fb-removebg-preview.png"></a>
                        <a target="_blank" href="https://www.linkedin.com/"><img src="~/images_fitcheck/Icon_linkedin-removebg-preview.png"></a>
                        <a target="_blank" href="https://www.youtube.com/"><img src="~/images_fitcheck/icon_youtube-removebg-preview.png"></a>
                        <a target="_blank" href="https://www.instagram.com/"><img src="~/images_fitcheck/icon_instagram-removebg-preview.png"></a>
                    </div>
                </div>
            </div>
            <div class="right-side-footer">
                <div class="address">
                    <img src="~/images_fitcheck/icon_location-removebg-preview.png">
                    <p>Street 1, Congressional Rd Caloocan City</p>
                </div>
                <div class="email-address">
                    <img src="~/images_fitcheck/icon_email-removebg-preview.png">
                    <p>info@fitcheckgym.com</p>
                </div>
                <div class="contact-number">
                    <img src="~/images_fitcheck/icon_mobile-removebg-preview.png">
                    <p>09192344890 / 09365144587</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>